.container{
    width: 90%;
    margin: auto;
    text-align: center;
    background-color: #6c3ae2;
    color: #ffffff;
}
fieldset{
    border-width: 0.5px;
    border-style: ridge;
    width: 30%;
    margin: auto;
}